@model _2015116292_ENT.Entities.Ubigeo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ubigeo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Departamento.Departamento_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Departamento.Departamento_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Distrito.Distrito_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Distrito.Distrito_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Provincia.Provincia_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Provincia.Provincia_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubigeo_numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubigeo_numero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ubigeo_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
