@model IEnumerable<_2015116292_ENT.Entities.lineatelefonica>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._tipolinea.tipolinea_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lineatelefonica_numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._tipolinea.tipolinea_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lineatelefonica_numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.lineatelefonica_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.lineatelefonica_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.lineatelefonica_id })
        </td>
    </tr>
}

</table>
