@model _2015116292_ENT.Entities.Plan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._TipoPlan.TipoPlan_caracteristica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._TipoPlan.TipoPlan_caracteristica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Plan_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
